@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
#suv{
    background-image: url(assets/img/cars/SUV/isuzu.jpg) no-repeat;
    height: 100%;
    width: 100%;
    }


.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


#offroad{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
    
}
#sedan{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
}

#coupes{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
}

#sports{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
}


#bikes{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
}