@import url(//fonts.googleapis.com/css?family=Vibur);
.navbar {
  overflow: hidden;background: linear-gradient(270deg, #870fec, #e62433);
background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
  position: fixed;
  top: 0;
  width: 100%;
}
body,html
{
  height:100%;
  margin:0;

}
.welcometext
{ font-size: 150px;
  font-family: 'Tangerine', cursive;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
  color: white;
}
.bg
{  background: url(cars4.png) no-repeat center center fixed; 
   position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo
{  height: 300px;
   width: 300px;
   animation-iteration-count: 7987898;

}
#welcome
{ align-items: center;

  height: 500px;
    width: 80%;
 



}
#header
{ height: 226px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row-reverse;

}
#header-left
{ 
  display: inline-block;
  height: 100%;
  width: 58%;
  
  padding-right: 0;
  background-color: red;
}
#icons
{ border-radius: 25px;
 height: 800px;
    width: 80%;
  background-color: black;
  opacity: 0.5;

}
.animated {
  z-index: 999999;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/*.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
*/
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/*      This is just extra stuff in here ,Delete here before you submit, this is for trying new animations in the webste in here, All the animantions are from the animate .css 
        that is a MIT license file placed
*/

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

