#suv{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    }
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


#offroad{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
    
}
#sedan{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
}

#coupes{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
}

#sports{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
}


#bikes{
    background: linear-gradient(270deg, #000000 0%, #7a2828 50% ,#000000 100%);
    background-size: 400% 400%;
    animation: AnimationName 4s ease infinite;
    
}